* {
  margin: 0;
  padding: 0;
}

#head {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#container {
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

#items {
  display: flex;
  flex-direction: column;
}

.item img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  margin: 10px;
  cursor: pointer;
  border-radius: 20%;
  transition: transform 0.4s, opacity 0.3s;
}

.item img:hover {
  transform: scale(1.05);
  opacity: 0.7;
  rotate: 2deg;
}

#cart {
  width: 200px;
  border: 2px dotted rgb(81, 80, 80);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#cartItems div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#cartItems img {
  width: 65px;
  height: 65px;
  margin-right: 10px;
  margin-top: 3px;
  border-radius: 30%;
  cursor: pointer;
}

#cartItems img:hover {
  opacity: 0.7;
}

.quantity {
  margin-left: 5px;
  font-size: 1em;
  color: #3c3c3c;
}

.description {
  margin-left: 15px;
  font-size: 16px;
  color: #402804;
  font-weight: bold;
}
